<script setup>
import { computed, toRefs } from "vue";
import NamedValue from "./named-value.vue";

const props = defineProps( {
	brands: {
		type: Object,
		required: true,
	},
	info: {
		type: Object,
		required: true,
	},
	input: {
		type: Object,
		required: true,
	},
	rank: {
		type: Number,
		required: true,
	},
} );

const { brands, info, input } = toRefs( props );

const costsPerType = computed( () => info.value?.cost?.perType || [] );
</script>

<template>
<div class="details-card">
	<div class="input">
		<h2>Ihr Profil</h2>
		<div class="grid">
			<named-value name="jährliche Fahrleistung" :value="input.local.annualDistance + input.remote.annualDistance" suffix=" km" />
			<named-value name="davon Fernstrecke" :value="input.remote.annualDistance" suffix=" km" />
			<named-value name="Verbrauch je 100km" :value="input.averageConsumption" suffix=" kWh" />
		</div>

		<h3>Ihre öffentlichen Ladegewohnheiten</h3>
		<div class="grid">
			<named-value name="AC (bis 43kW)" :value="100 - input.remote.dcCharging" suffix=" %" />
			<named-value name="DC (ab 50kW)" :value="input.remote.dcCharging" suffix=" %" />
			<named-value name="∅ Lademenge" digits="1"
						 :value="( input.remote.averageRecharge - input.remote.averageMinCharge ) / 100 * input.batterySize" suffix=" kWh" />
		</div>

		<div class="grid">
			<named-value v-for="share of costsPerType" :key="share.type" :name="share.label" :value="share.share" suffix=" %" />
		</div>

		<template v-if="input.local.annualDistance > 0">
			<h3>Ihre privaten Lademöglichkeiten</h3>
			<div class="grid">
				<named-value name="Kosten pro kWh" :value="input.local.pricePerUnit / 100" currency="EUR" />
				<named-value v-if="input.local.solarPower > 0" name="Abdeckung aus PVA" :value="input.local.solarPower" suffix=" kWh" />
			</div>
		</template>
	</div>

	<div class="offer">
		<h2>
			<span>
				Kosten für 12 Monate:
			</span>
			<span class="total">
				<sl-format-number :value="info.cost.total" type="currency" :currency="info.currency || 'EUR'" />
			</span>
		</h2>
		<div class="receipt">
			<table class="receipt">
				<tr v-if="info.fee?.annual">
					<td colspan="2">Grundbetrag</td>
					<td>jährlich</td>
					<td class="amount">
						<sl-format-number :value="info.fee.annual / 100" type="currency" :currency="info.currency || 'EUR'" />
					</td>
				</tr>
				<tr v-if="info.fee?.monthly">
					<td colspan="2"><template v-if="!info.fee.annual">Grundbetrag</template></td>
					<td>monatlich</td>
					<td class="amount">
						<sl-format-number :value="info.fee.monthly / 100" type="currency" :currency="info.currency || 'EUR'" />
					</td>
				</tr>
				<tr v-if="!info.fee?.annual && !info.fee?.monthly">
					<td colspan="3">Grundbetrag</td>
					<td class="sum amount">
						<sl-format-number :value="info.cost.base" type="currency" :currency="info.currency || 'EUR'" />
					</td>
				</tr>
				<tr v-else="!info.fee?.annual && !info.fee?.monthly" class="sub">
					<td colspan="2"></td>
					<td>insgesamt</td>
					<td class="sum amount">
						<sl-format-number :value="info.cost.base" type="currency" :currency="info.currency || 'EUR'" />
					</td>
				</tr>
				<tr class="section">
					<td colspan="4">Ladekosten unterwegs</td>
				</tr>
				<tr class="separate-above">
					<td>Energiebedarf</td>
					<td class="amount">
						<sl-format-number :value="info.cost.remote.totalPower" /> kWh
					</td>
					<td></td>
					<td></td>
				</tr>
				<template v-for="type of costsPerType" :key="type.type">
					<tr class="separate-above">
						<td v-if="type.type === 'special' && info.specials" colspan="4">
							{{ type.label }} ({{ info.specials.map( brand => brands[brand].label ).join( ", " )}})
						</td>
						<td v-else colspan="4">{{ type.label }}</td>
					</tr>
					<tr class="sub" v-if="type.acAmount > 0">
						<td>AC</td>
						<td class="amount">
							<sl-format-number :value="type.acPower" maximum-fraction-digits="1" /> kWh
						</td>
						<td class="amount">
							<sl-format-number :value="type.acPerUnit" type="currency" :currency="info.currency || 'EUR'" />/kWh
						</td>
						<td class="amount">
							<sl-format-number :value="type.acAmount" type="currency" :currency="info.currency || 'EUR'" />
						</td>
					</tr>
					<tr class="sub" v-if="type.acChargeFee > 0">
						<td></td>
						<td class="amount">
							<sl-format-number :value="type.acCharges" /> {{ type.acCharges === 1 ? "Ladung" : "Ladungen" }}
						</td>
						<td class="amount">
							<sl-format-number :value="type.acPerCharge" type="currency" :currency="info.currency || 'EUR'" />/Ladung
						</td>
						<td class="amount">
							<sl-format-number :value="type.acChargeFee" type="currency" :currency="info.currency || 'EUR'" />
						</td>
					</tr>
					<tr class="sub" v-if="type.dcAmount > 0">
						<td>DC</td>
						<td class="amount">
							<sl-format-number :value="type.dcPower" maximum-fraction-digits="1" /> kWh
						</td>
						<td class="amount">
							<sl-format-number :value="type.dcPerUnit" type="currency" :currency="info.currency || 'EUR'" />/kWh
						</td>
						<td class="amount">
							<sl-format-number :value="type.dcAmount" type="currency" :currency="info.currency || 'EUR'" />
						</td>
					</tr>
					<tr class="sub" v-if="type.dcChargeFee > 0">
						<td></td>
						<td class="amount">
							<sl-format-number :value="type.dcCharges" /> {{ type.dcCharges === 1 ? "Ladung" : "Ladungen" }}
						</td>
						<td class="amount">
							<sl-format-number :value="type.dcPerCharge" type="currency" :currency="info.currency || 'EUR'" />/Ladung
						</td>
						<td class="amount">
							<sl-format-number :value="type.dcChargeFee" type="currency" :currency="info.currency || 'EUR'" />
						</td>
					</tr>
				</template>
				<template v-if="info.cost.home.deliveredPower > 0">
					<tr class="section">
						<td colspan="4">Ladekosten daheim</td>
					</tr>
					<tr class="separate-above">
						<td>Energiebedarf</td>
						<td class="amount">
							<sl-format-number :value="info.cost.home.totalPower" /> kWh
						</td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td>Netzbezug</td>
						<td class="amount">
							<sl-format-number :value="info.cost.home.deliveredPower" /> kWh
						</td>
						<td class="amount">
							<sl-format-number :value="input.local.pricePerUnit / 100" type="currency" :currency="info.currency || 'EUR'" />/kWh
						</td>
						<td class="amount">
							<sl-format-number :value="info.cost.home.totalCosts" type="currency" :currency="info.currency || 'EUR'" />
						</td>
					</tr>
				</template>
			</table>
		</div>
	</div>
</div>
</template>

<style scoped lang="scss">
.details-card {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	margin: calc( -1 * ( var(--sl-spacing-large) + var(--sl-spacing-medium) ) ) 0 0 calc( -1 * var(--sl-spacing-large) );

	> div {
		position: relative;
		flex: 1 1 calc( 50% - var(--sl-spacing-large) );
		margin: var(--sl-spacing-large) 0 0 var(--sl-spacing-large);
	}
}

.vp-doc h2 {
	margin: var(--sl-spacing-medium) 0 var(--sl-spacing-small) 0;
	border: 0;
	padding: 0;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
}

.vp-doc h3 {
	margin: var(--sl-spacing-medium) 0 var(--sl-spacing-small) 0;
	border: 0;
	border-bottom: 1px solid var(--sl-color-neutral-200);
	padding: 0;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
}

.grid {
	display: flex;
	flex-flow: row wrap;
	align-items: end;
	margin: calc( -1 * var(--sl-spacing-small) ) 0 0 calc( -1 * var(--sl-spacing-small) );

	+ .grid {
		margin-top: 0;
	}

	> * {
		flex: 0 1 calc( 33.333% - 2 * var(--sl-spacing-small) );

		@media screen and (max-width:500px) {
			& {
				flex: 1 1 calc( 50% - 2 * var(--sl-spacing-small) );
			}
		}
	}
}

.offer {
	overflow-x: auto;

	h2 {
		align-items: end;

		.total {
			margin-left: var(--sl-spacing-medium);
		}
	}
}

.vp-doc .receipt {
	max-width: 100%;
	overflow-x: auto;

	> table {
		display: table;
		width: 100%;
		margin-top: calc( -1 * var(--sl-spacing-2x-small));

		tr, td {
			border: none;
			background: transparent;
		}

		td {
			padding: var(--sl-spacing-2x-small) var(--sl-spacing-medium);
			vertical-align: bottom;

			&:last-child {
				position: sticky;
				right: 0;
				background-color: var(--sl-panel-background-color);
			}
		}

		.amount {
			text-align: right;
			width: 1px;
			white-space: nowrap;
		}

		tr.total {
			position: sticky;
			top: 0;
		}

		.section {
			border-top: 1px solid var(--sl-color-neutral-200);
			font-weight: bold;

			td {
				background-color: var(--sl-color-neutral-100);
			}
		}

		.separate-above {
			border-top: 1px solid var(--sl-color-neutral-200);
		}

		.sub td {
			padding-top: 0;
		}

		.sub td:first-child {
			text-align: right;
		}
	}
}
</style>
