<script setup>
defineProps( {
	name: {
		type: String,
		required: true,
	},
	value: {
		type: [ String, Number ],
		required: true,
	},
	digits: [ String, Number ],
	prefix: String,
	suffix: String,
	currency: String,
} );

</script>

<template>
	<div class="output">
		<label>{{ name }}</label>
		<span>
			{{ prefix }}
			<sl-format-number v-if="currency" :value="value" type="currency" :currency="currency" :maximumFractionDigits="Number( digits ) || undefined" />
			<sl-format-number v-else :value="value" :maximumFractionDigits="Number( digits ) || undefined" />
			{{ suffix }}
		</span>
	</div>
</template>

<style scoped lang="scss">
.output {
	margin: var(--sl-spacing-small);

	label {
		order: 2;
		display: block;
		font-size: var(--sl-font-size-small);
	}

	span {
		order: 1;
		display: block;
		font-size: var(--sl-font-size-large);
		font-weight: bold;
		white-space: nowrap;
	}
}
</style>
