<script>
import { ref, toRefs, watchEffect } from "vue";

const showingHint = ref( null );
</script>

<script setup>
import RadialGauge from "./radial-gauge.vue";
import NamedValue from "./named-value.vue";

const props = defineProps( {
	min: Number,
	max: Number,
	step: Number,
	value: Number,
	size: {
		type: Number,
		default: 70,
	},
	width: {
		type: Number,
		default: 10,
	},
	limit: Number,
	name: {
		type: String,
		required: true,
	},
	prefix: String,
	suffix: String,
	currency: String,
	disabled: Boolean,
} );

const emits = defineEmits( ["update:value"] );

const { value, min, max, limit } = toRefs( props );

watchEffect( () => {
	if ( value.value < min.value ) {
		emits( "update:value", min.value );
	} else {
		const upper = Math.min( max.value || Infinity, limit.value || Infinity );

		if ( value.value > upper ) {
			emits( "update:value", upper );
		}
	}
} );

const container = ref();
</script>

<template>
<div class="numeric-input" :class="{disabled}" ref="container">
	<radial-gauge
		:value="value"
		class="control"
		:min="min"
		:max="max"
		:limit="limit"
		:step="step"
		:size="size"
		:width="width"
		:readonly="disabled"
		@update:value="$emit( 'update:value', $event )"
	/>

	<named-value
		class="output"
		:name="name"
		:value="value"
		:prefix="prefix"
		:suffix="suffix"
		:currency="currency"
	/>

	<div
		v-if="$slots.default"
		class="help"
		:class="{open:showingHint === container}"
	>
		<div
			v-if="showingHint === container"
			class="overlay"
		><div><slot></slot></div></div>

		<sl-icon-button
			:name="showingHint === container ? 'x-circle-fill' : 'question-circle-fill'"
			@click="showingHint = showingHint === container ? null : container"
		/>
	</div>
</div>
</template>

<style scoped lang="scss">
.numeric-input {
	--sl-tooltip-arrow-size: 0;
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	position: relative;
	padding-right: var(--sl-spacing-medium);

	.control {
		flex: 0 0 auto;
	}

	.output {
		flex: 1 1 auto;
		margin-left: var(--sl-spacing-large);
	}

	&.disabled {
		opacity: 0.4;
	}

	.help {
		flex: 0 0 auto;

		sl-icon-button {
			font-size: var(--sl-font-size-large);
			opacity: 0.5;
			position: relative;
			z-index: 2;

			&::part(base):active {
				color: inherit;
			}
		}

		&.open {
			sl-icon-button {
				opacity: 1;
				color: var(--sl-color-neutral-0);
			}

			.overlay {
				position: absolute;
				top: 0;
				left: 0;
				right: var(--sl-spacing-medium);
				bottom: 0;
				box-sizing: border-box;
				padding:
					var(--sl-spacing-2x-small)
					calc( var(--sl-font-size-large) + var(--sl-spacing-large) + var(--sl-spacing-x-small) )
					var(--sl-spacing-2x-small)
					var(--sl-spacing-x-small);
				border-radius: var(--sl-border-radius-medium);
				font-size: var(--sl-font-size-small);
				line-height: var(--sl-line-height-dense);
				background: var(--sl-color-neutral-1000);
				color: var(--sl-color-neutral-0);
				display: block;
				hyphens: auto;
				overflow-y: auto;
			}
		}

		@media screen and (max-width:500px) {
			& {
				--max-width: 70vw;
			}
		}
	}
}
</style>
