<script setup>
/* eslint-env browser */
import { computed, ref, toRefs } from "vue";

const props = defineProps( {
	min: {
		type: Number,
		default: 0,
	},
	max: {
		type: Number,
		default: 100,
	},
	step: {
		type: Number,
		default: 1,
	},
	value: {
		type: Number,
		default: 0,
	},
	size: {
		type: Number,
		default: 100,
	},
	width: {
		type: Number,
		default: 15,
	},
	limit: Number,
	readonly: Boolean,
} );

const emits = defineEmits( ["update:value"] );

const { value, min, max, step, size, width, limit, readonly } = toRefs( props );

const viewBox = computed( () => `0 0 ${size.value} ${size.value}` );
const radius = computed( () => ( size.value - width.value ) / 2 );
const center = computed( () => ( {
	x: size.value / 2,
	y: size.value / 2,
} ) );

const deg2rad = deg => ( deg / 180 ) * Math.PI;
const value2deg = v => 45 + ( v - min.value ) / ( max.value - min.value ) * 270;

const arcPoint = radAngle => ( {
	x: center.value.x + Math.cos( radAngle + Math.PI / 2 ) * radius.value,
	y: center.value.y + Math.sin( radAngle + Math.PI / 2 ) * radius.value,
} );

const segment = ( start, end ) => {
	const s = arcPoint( deg2rad( start ) );
	const e = arcPoint( deg2rad( end ) );

	return `M ${s.x} ${s.y} A ${radius.value} ${radius.value} 0 ${end - start > 180 ? "1" : "0"} 1 ${e.x} ${e.y}`;
};

const upper = computed( () => ( limit.value == null ? max.value : limit.value ) );
const upperAngle = computed( () => value2deg( upper.value ) );

const bgArc = computed( () => segment( 45, 315 ) );
const availableArc = computed( () => segment( 45, upperAngle.value ) );
const filledArc = computed( () => segment( 45, value2deg( value.value ) ) );

const gauge = ref();
const start = ref();

const getValueFromPosition = pos => {
	const dx = pos.screenX - start.value.x;
	const dy = pos.screenY - start.value.y;

	if ( Math.sqrt( dx * dx + dy * dy ) > radius.value - width.value ) {
		let angle = Math.atan( -dx / dy ) / Math.PI * 180;
		if ( dy < 0 ) {
			angle += 180;
		}

		angle = ( angle + 360 ) % 360;
		angle = Math.min( Math.max( angle, 45 ), upperAngle.value ) - 45;

		const newValue = Math.round( angle / 270 * ( max.value - min.value ) / step.value ) * step.value + min.value;
		if ( newValue !== value.value ) {
			emits( "update:value", newValue );
		}
	}
};

const onTouchStart = event => {
	if ( props.readonly ) {
		return;
	}

	const isPointer = /^pointer/i.test( event.type );
	let touch;

	if ( isPointer ) {
		touch = event;
	} else {
		if ( event.changedTouches?.length !== 1 ) {
			return;
		}

		if ( event.touches?.length !== 0 ) {
			return;
		}

		touch = event.changedTouches[0];
	}

	start.value = {
		id: touch.identifier,
		x: touch.screenX - touch.offsetX + center.value.x,
		y: touch.screenY - touch.offsetY + center.value.y,
	};

	getValueFromPosition( touch );

	if ( isPointer ) {
		document.addEventListener( "pointerup", onTouchEnd, { capture: true } );
		document.addEventListener( "pointermove", onTouchMove, { capture: true } );
	} else {
		document.addEventListener( "touchend", onTouchEnd, { capture: true } );
		document.addEventListener( "touchcancel", onTouchEnd, { capture: true } );
		document.addEventListener( "touchmove", onTouchMove, { capture: true } );
	}
};

const onTouchMove = event => {
	let touch;

	event.preventDefault();
	event.stopPropagation();

	if ( /^pointer/i.test( event.type ) ) {
		touch = event;
	} else {
		touch = event.changedTouches?.find( t => t.identifier === start.value.id );
		if ( !touch ) {
			return;
		}
	}

	getValueFromPosition( touch );
};

const onTouchEnd = event => {
	const isPointer = /^pointer/i.test( event.type );

	if ( !isPointer && !event.changedTouches?.includes( t => t.identifier === start.value.id ) ) {
		return;
	}

	event.preventDefault();
	event.stopPropagation();

	start.value = null;

	if ( isPointer ) {
		document.removeEventListener( "pointerup", onTouchEnd, { capture: true } );
		document.removeEventListener( "pointermove", onTouchMove, { capture: true } );
	} else {
		document.removeEventListener( "touchend", onTouchEnd, { capture: true } );
		document.removeEventListener( "touchcancel", onTouchEnd, { capture: true } );
		document.removeEventListener( "touchmove", onTouchMove, { capture: true } );
	}
};
</script>

<template>
<div
	ref="gauge"
	class="gauge"
	:class="{readonly, active: start}"
	:style="{width: size + 'px', height: size + 'px'}"
>
	<svg
		xmlns="http://www.w3.org/2000/svg"
		:viewBox="viewBox"
		@touchstart.capture.prevent="onTouchStart($event)"
		@pointerdown.capture.prevent="onTouchStart($event)"
	>
		<path class="bg" :d="bgArc" :stroke-width="width"></path>
		<path class="available" :d="availableArc" :stroke-width="width"></path>
		<path class="filled" :d="filledArc" :stroke-width="width"></path>
	</svg>
	<input
		type="number"
		:min="min"
		:max="limit"
		:step="step"
		:value="value"
		:readonly="readonly"
		@input="$emit('update:value', $event.target.value)"
	/>
</div>
</template>

<style scoped lang="scss">
.gauge {
	.filled {
		fill: none;
		stroke: var(--sl-color-primary-600);
		transition: stroke 200ms ease;
	}

	.available {
		fill: none;
		stroke: var(--sl-color-neutral-300);
	}

	.bg {
		fill: none;
		stroke: var(--sl-color-neutral-100);
	}

	&:hover:not(.readonly), &.active {
		cursor: pointer;

		.filled {
			stroke: var(--sl-color-primary-500);
		}
	}
}

input {
	display: none;
}
</style>
