<script setup>
const model = defineModel()

defineProps( {
	min: {
		type: Number,
		default: 0,
	},
	max: {
		type: Number,
		default: 100,
	},
	step: {
		type: Number,
		default: 1,
	},
	prefix: String,
	suffix: String,
	formatter: Function,
} );
</script>

<template>
	<div>
		<sl-range
			:value="model"
			@sl-input="model = $event.target.value"
			:min="min"
			:max="max"
			:step="step"
			:disabled="max === 0"
			:tooltipFormatter="formatter"
		></sl-range>
		<span>{{ prefix }}{{ model }}{{ suffix }}</span>
		<sl-tooltip>
			<div slot="content">
				<slot></slot>
			</div>
			<span>
				&nbsp;
				<sl-icon name="question-circle-fill"></sl-icon>
			</span>
		</sl-tooltip>
	</div>
</template>

<style scoped>
div {
	width: 100%;
	max-width: 500px;
}

sl-range {
	width: 100%;
}

sl-icon {
	position: relative;
	top: 2px;
}
</style>
