<script setup>
/* eslint-env browser */
import DetailsCard from "./details-card.vue";
import { computed, ref, toRefs } from "vue";

const props = defineProps( {
	items: {
		type: Array,
		required: true,
	},
	input: {
		type: Object,
		required: true,
	},
	brands: {
		type: Object,
		required: true,
	},
} );

const { items } = toRefs( props );

const noConstraints = ref( false );

const visibleItems = computed( () => items.value?.filter( i => !i.constraints || !noConstraints.value ) );

const currentIndex = ref( -1 );

const current = computed( () => ( Number( currentIndex.value ) > -1 ? visibleItems.value[currentIndex.value] : null ) );

const openWebsite = url => {
	window.open( url, "_blank", "noopener,noreferrer" );
};
</script>

<template>
	<div class="filters">
		<sl-switch :checked="noConstraints" @sl-change="noConstraints = $event.target.checked">nur Angebote ohne Vorbedingungen</sl-switch>
	</div>
	<div class="results">
		<table>
			<thead>
			<tr>
				<th>Anbieter</th>
				<th>jährliche Kosten</th>
				<th>Grundbetrag</th>
				<th>privat</th>
				<th>öffentlich</th>
			</tr>
			</thead>
			<tbody>
			<tr
				v-for="(offer, index) of visibleItems"
				:key="offer.name"
				:class="{ 'best-result': offer.cost.total === visibleItems[0].cost.total, current: current === offer }"
				@click="currentIndex = index"
			>
				<td class="name">
					<label>
						<span :title="offer.name">{{ offer.name }}</span>
						<sl-icon v-if="offer.notes || offer.constraints" name="exclamation-triangle-fill" class="warning-marker"></sl-icon>
					</label>
				</td>
				<td><sl-format-number
					type="currency"
					minimum-fraction-digits="2"
					:value="offer.cost.total"
					:currency="offer.currency ?? 'EUR'"
				/></td>
				<td><sl-format-number
					type="currency"
					minimum-fraction-digits="2"
					:value="offer.cost.base"
					:currency="offer.currency ?? 'EUR'"
				/></td>
				<td><sl-format-number
					type="currency"
					minimum-fraction-digits="2"
					:value="offer.cost.home.totalCosts"
					:currency="offer.currency ?? 'EUR'"
				/></td>
				<td><sl-format-number
					type="currency"
					minimum-fraction-digits="2"
					:value="offer.cost.total - offer.cost.home.totalCosts - offer.cost.base"
					:currency="offer.currency ?? 'EUR'"
				/></td>
			</tr>
			</tbody>
		</table>
	</div>

	<sl-dialog
		ref="popup"
		v-if="current"
		open
		class="details"
		:label="current.name"
		@sl-hide="currentIndex = -1"
		@keyup.left="currentIndex = Math.max( currentIndex - 1, 0 )"
		@keyup.right="currentIndex = Math.min( currentIndex + 1, visibleItems.length - 1 )"
	>
		<input
			slot="header-actions"
			style="width:0;overflow:hidden;"
			autofocus
		/>

		<sl-icon-button
			name="arrow-left"
			slot="header-actions"
			:disabled="currentIndex < 1"
			@click="currentIndex--"
		/>

		<sl-icon-button
			name="arrow-right"
			slot="header-actions"
			:disabled="currentIndex >= visibleItems.length - 1"
			@click="currentIndex++"
		/>

		<DetailsCard
			:brands="brands"
			:info="current"
			:input="input"
			:rank="currentIndex + 1"
			@close="currentIndex = -1"
		/>

		<sl-icon-button
			v-if="current.constraints"
			slot="footer"
			class="footer-icon"
			name="exclamation-triangle-fill"
			@click="showConstraints(current)"
		/>

		<sl-icon-button
			v-if="current.notes?.length > 0"
			slot="footer"
			class="footer-icon"
			name="info-triangle-fill"
			@click="showConstraints(current)"
		/>

		<sl-button
			v-if="current.url"
			slot="footer"
			variant="primary"
			@click="openWebsite(current.url)"
		>
			Website des Anbieters öffnen
			<sl-icon slot="suffix" name="box-arrow-up-right" />
		</sl-button>

	</sl-dialog>
</template>

<style scoped lang="scss">
.results {
	position: relative;
	overflow: scroll;
	max-width: 100%;
}

.filters {
	margin-top: var(--sl-spacing-large);
}

.vp-doc table {
	display: table;
	width: 100%;
	border-collapse: collapse;
}

th {
	font-weight: bold;
	border-bottom: 1px solid var(--sl-color-neutral-400);
	background: var(--sl-color-neutral-600);
	color: var(--sl-color-neutral-50);

	&:first-child {
		position: sticky;
		left: 0;
		z-index: 2;
	}
}

th, td {
	white-space: nowrap;
	padding: 0.3em 0.7em;
	position: relative;
	border: none;
}

td {
	position: relative;
	z-index: 1;

	&:first-child {
		position: sticky;
		left: 0;
		z-index: 2;
	}

	+ td {
		text-align: right;
	}

	sl-icon {
		vertical-align: middle;
	}

	label {
		display: inline-flex;
		flex-flow: row nowrap;
		align-items: center;
		justify-content: space-between;
		cursor: pointer;
	}
}

tr {
	border: none;

	&:nth-child(2n) td {
		background-color: var(--sl-color-neutral-100)
	}

	&:nth-child(2n+1) td {
		background-color: var(--sl-color-neutral-0)
	}

	&.best-result:nth-child(2n) td {
		background-color: var(--sl-color-primary-300)
	}

	&.best-result td {
		background-color: var(--sl-color-primary-200)
	}

	&.best-result:hover td, &:hover td, &.best-result.current td, &.current td {
		cursor: pointer;
		background-color: var(--sl-color-primary-500);
	}
}

.warning-marker {
	color: var(--sl-color-warning-500);
	margin-left: 1em;
	width: 20px;
}

.footer-icon {
	color: var(--sl-color-warning-500);
	font-size: 1.5em;
	line-height: var(--sl-input-height-medium);
}

.details {
	--width: 1280px;
}

sl-tag {
	flex: 0 0 auto;
	display: flex;
	align-items: center;
}

@media screen and (max-width:400px) {
	th:first-child, td:first-child, td:first-child label {
		width: 170px;

		> span {
			display: block;
			white-space: nowrap;
			text-overflow: ellipsis;
			overflow: hidden;
		}
	}
}
</style>
